.location-icon {
    margin: 2px 8px 0 0;
}

.actual-date {
    color: #222222;
    font-size: 14px;
    
}
/* 
.profiles {
    padding-right: 20px;
} */

.separator {
    color: #0000001F;
    margin: 0 18px;
}